@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    font-size: 16px;
}

*{
    font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-title {
    font-style: italic;
    padding: 1rem 0 1rem 1rem;
}


.container-img-1{
    background-image: url("./assets/design2_image1.jpg");
    position: relative;
    height: 25rem;
}

nav {
    position: absolute;
    left: 75rem;
    z-index: 1;
}

nav a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color:royalblue;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 2px solid black;
    box-shadow: 3px 3px 0px 0px #2f2f2f;
    margin-right: 0.5rem;
    transition: 0.2s;
}
nav a:hover{
    background-color:seagreen;
}

#upcoming-container{ 
    padding: 1rem 0 1rem 0;
    border: 2px solid black;
    text-align: center;
}

#events-container{
    width: 100vw;
}

#events-container figure.container-img-logo {
    display: inline-block;
    margin: 1rem 1rem 0 1rem;
}

#events-container div {
    display: inline-block;
    vertical-align: top;
    margin-top: 2rem;
}

article h2 {
    font-style: italic;
}

article{
    margin-bottom: 1rem;
}

#home-anchor{
    background-color:seagreen;
}
