@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    font-size: 16px;
}

*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-title {
    padding: 1rem 0 1rem 1rem;
}


.container-img-1{
    background-image: url("./assets/design2_image1.jpg");
    height: 25rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav a{
    font-size: 1.1rem;
    text-decoration: none;
    color: hsl(220, 15%, 55%);
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-right: 0.5rem;
    transition: 0.2s;
}
nav a:hover{
    color: black;
}


#text-container{ 
    background-color: hsl(0, 0%, 95%);
    padding: 2rem 0 1rem 0;
    text-align: center;
}

#events-container{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
}

#events-container figure.container-img-logo {
    margin: 0 1rem 0 1rem;
}

#events-container div {
    margin-top: 1rem;
}


p{
    color: hsl(219, 12%, 45%);
}

article{
    margin-bottom: 1rem;
}
#info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 2rem;
}

#logo-container{
    margin: 0 1rem 0 1rem;
}

#logo-container{
    margin: 0 1rem 0 1rem;
}
#section-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 1rem;
}

#section-container section{
    width: 15rem;
    border: 2px solid black;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}

section h3 {
    padding-bottom: .2rem;
}